{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class ="row">
        {% for i in movie_list %}
        <div class ="col-md-4">
            <div class="card" style="width: 18rem;">
  <img src="{{i.img.url}}" class="card-image-top" alt="..." width="280px" height="250px" >
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.description}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">view details</a>
  </div>
  </div>
        </div>
        {% endfor %}
    </div>
</div>



<img src="{{i.img.url}}" width="100" height = "100">
<a href=</a>{{i.name}}<br>

{% endblock %}